
body {background: #3E2723 url(../imagenes/santa4.jpg) fixed no-repeat;
background-size: cover;}

header { display: flex; justify-content:space-around; flex-wrap: wrap;}
.encabezados {color:  #FFFFFF; text-decoration: underline; text-align: center; font-size: 15pt;line-height: 2pt;
             display: flex; flex-direction:column; justify-content: center;}
.logo {width: 250px;}
.redes1   {display: flex; align-items: center;}
.redes {width: 50px; }

aside  {display: flex; justify-content: space-around; }
.titulo1 {color:  #FFFFFF; text-decoration: underline; text-align: center; font-size: 25pt ; line-height: 2pt}
.parrafo { text-align: justify; background:  #082540;color: #FFFFFF; font-size: 20pt; font-style: italic; height: 400px; overflow:auto; outline: 5px solid #FDFEFE;
        display: flex; flex-direction: column; padding-left: 25px; padding-right: 25px;}

.imagen1{outline: 5px solid #FDFEFE; width: 400px;}
.mapa {outline: 5px solid #FDFEFE; height: 400px;}

main {display: flex; flex-direction: column;}
   .titulos{color:  #FFFFFF; text-decoration: underline; text-align: center; font-size: 15pt;
   display: flex; flex-direction: column; }

section {display: flex; justify-content: space-around; }

    .ingredientes{color:  #FFFFFF;font-size: 22pt ;}

     .imagen2{outline: 5px solid #FDFEFE; height: 400px;margin-right: 10%;}

    .acompañamiento {color: #FFFFFF;font-size: 22pt;}

    .preparado {display: flex; flex-direction:column;}

    .titulo4{color:  #FFFFFF; text-decoration: underline; text-align: center; font-size: 28pt;}
    .lista3 { text-align:justify;color: #FFFFFF; font-size:25pt; padding: 25pt;}

    .texto1{color:  #FFFFFF; font-size:25pt; text-align: center; padding: 20pt;}

    .video {text-align: center; }

nav {background:  #082540; display: flex; justify-content: space-around; align-items: center;}

.enlace { font-size: 20pt; color:#FFFFFF; text-align: center;}

footer { background:#082540;
display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;}
.redes2 {width: 50px; padding: 35px;
  display: flex;flex-direction: row; align-items: center; }
.firma {font-style: italic;color: #FFFFFF ;font-size: 20pt;line-height: 1pt; text-align: center;
  display: flex; flex-direction: column;}

.icono {width: 100px; position: fixed;bottom: 10px; right: 10px;}
